<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transacao-heading"
        data-cy="TransacaoCreateUpdateHeading"
        jhiTranslate="serviceApp.serviceTransacao.home.createOrEditLabel"
      >
        Criar ou editar Transacao
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="serviceApp.serviceTransacao.valor" for="field_valor">Valor</label>
          <input type="number" class="form-control" name="valor" id="field_valor" data-cy="valor" formControlName="valor" />
          @if (editForm.get('valor')!.invalid && (editForm.get('valor')!.dirty || editForm.get('valor')!.touched)) {
            <div>
              @if (editForm.get('valor')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('valor')?.errors?.number" jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="serviceApp.serviceTransacao.orcamento" for="field_orcamento">Orcamento</label>
          <select
            class="form-control"
            id="field_orcamento"
            data-cy="orcamento"
            name="orcamento"
            formControlName="orcamento"
            [compareWith]="compareOrcamento"
          >
            <option [ngValue]="null"></option>
            @for (orcamentoOption of orcamentosSharedCollection; track $index) {
              <option [ngValue]="orcamentoOption">{{ orcamentoOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="serviceApp.serviceTransacao.categoria" for="field_categoria">Categoria</label>
          <select
            class="form-control"
            id="field_categoria"
            data-cy="categoria"
            name="categoria"
            formControlName="categoria"
            [compareWith]="compareCategoria"
          >
            <option [ngValue]="null"></option>
            @for (categoriaOption of categoriasSharedCollection; track $index) {
              <option [ngValue]="categoriaOption">{{ categoriaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
